#welcome {
  background-color: #f7df1e;
  padding: 100px 0;
}

#welcome h2 {
  font-size: 48px;
  color: #007bff;
  font-weight: bold;
}

#welcome p {
  font-size: 24px;
  color: #fff;
}

#welcome button {
  margin-top: 30px;
  font-size: 24px;
  background-color: #007bff;
  border-color: #007bff;
}

#welcome button:hover {
  background-color: #fff;
  color: #ff6b6b;
}

#welcome img {
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  width: 300px; /* taille initiale */
  height: 300px;
  position: relative; /* position relative pour permettre la translation */
  animation-name: zoomInAndTranslate; /* nom de l'animation */
  animation-duration: 2s; /* durée de l'animation */
  animation-fill-mode: forwards; /* conserve l'état final de l'animation */
}

a{
text-decoration:none;
color:white;
}
a:hover{

text-decoration:none;
color:pink;
}


@keyframes zoomInAndTranslate {
  from {
    transform: scale(0.2) translate(-60px, -60px); /* taille et position initiales */
  }
  to {
    transform: scale(1) translate(200, 0); /* taille et position finales */
  }
}
