#welcome {
  background-color: #f9d6c9;
  padding: 100px 0;
}

#welcome h2 {
  font-size: 48px;
  color: #ff6b6b;
  font-weight: bold;
}

#welcome p {
  font-size: 24px;
  color: #fff;
}

#welcome button {
  margin-top: 30px;
  font-size: 24px;
  background-color: #ff6b6b;
  border-color: #ff6b6b;
}

#welcome button:hover {
  background-color: #fff;
  color: #ff6b6b;
}

#welcome img {
  border-radius: 50%;
  border: 10px solid #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  animation: rotate 5s linear infinite;
}
a{
text-decoration:none;
color:white;
}
a:hover{

text-decoration:none;
color:pink;
}


@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
