/* Style pour les sections de chapitres */
.section_chapitre {
  margin: 5% 5%;
  margin-top: 30px;
  border: 2px solid #E5E5E5;
  padding: 20px;
  background-color: #F9F9F9;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Style pour les titres des sections de chapitres */
.section_chapitre_titre {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0;
  color: #444444;
}

/* Style pour les corps des sections de chapitres */
.section_chapitre_body {
  font-size: 16px;
  line-height: 1.5;
  color: #666666;
}
