.titre_chapitre{
    margin-left:5%;
}
.titre_exercice{
    margin-left:5%;
}

/* Style pour les sections de chapitres */
.section_chapitre {
  margin: 5% 5%;
  margin-top: 30px;
  border: 2px solid #E5E5E5;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

/* Style pour les titres des sections de chapitres */
.section_chapitre_titre {
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px 0;
  padding: 0;
  color: black;
}

/* Style pour les corps des sections de chapitres */
.section_chapitre_body {
  font-size: 16px;
  line-height: 1.5;
  color: black;
}
.attention {
  background-color: #47B9FF;
  color: white;/* couleur de fond jaune pâle */
  border: 2px solid white; /* bordure rouge pâle de 2px */
  padding: 10px; /* espace intérieur de 10px */
  font-weight: bold; /* texte en gras */
  font-size: 1.2em; /* taille de police 1.2 fois plus grande que la taille normale */
  border-radius: 10px; /* coins de bordure arrondis de 10px */
}

nav.nav_subchapters {
  margin-left: 5%;
  margin-right: 5%;
  background-color: white; /* couleur de fond du menu */
  border-radius: 10px; /* coins de bordure arrondis */
  padding: 10px; /* espace intérieur */
  margin-bottom: 20px; /* marge en bas pour aérer le contenu */
}
.heading_chapitre{
    margin-top:70px;
}




