{% extends "model.html" %}

{% block heading %}
    {{chapitre.chapitre}}
{% endblock %}

    {% block subchapters %}
    <div>
        <h3>Les différents points abordés dans ce chapitre</h3>
        <ul class="list-group d-flex flex-row flex-wrap">
            {% for point in chapitre.points %}
            <li class="list-group-item">
            <a href="#section_{{ point }}" class="li_subchapters">{{ point }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>



{% endblock %}

{% block exercises %}
<div id="tableau_exercices_section">
    <h3 class="titre_exercice">Exercices</h3>
    <table class="table_exercice">
    {% for i in range(0, chapitre['exercices']|length, 8) %}
        <tr class="tr_exercice">
        {% for j in range(i, i+8) %}
        {% if j < chapitre['exercices']|length %}
          <td class="td_exercice"><a href="#">{{ chapitre['exercices'][j] }}</a></td>
        {% else %}
          <td></td>
        {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>>

{% endblock %}

{% block content %}


    {% for point in souschapitre %}
    <section id="section_{{point.nom}}" class="section_chapitre">
        <h2 class="section_chapitre_titre">{{point.nom}}</h2>
        <p class="section_chapitre_body">{{point.body|safe}}</p>
        <h4 class="section_chapitre_exemple">Exemple</h4>
        <p class="exemple_chapitre_body">{{point.exemple|safe}}</p>
        {% include 'exercice_theorie.html' %}
    </section>
    {% endfor %}
{% endblock %}

