<!-- HTML pour la fenêtre pop-up -->
<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="avatarModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="avatarModalLabel">Choisissez votre avatar</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-4">
            <img src="avatar1.jpg" class="avatar-img" data-avatar="avatar1.jpg">
          </div>
          <div class="col-4">
            <img src="avatar2.jpg" class="avatar-img" data-avatar="avatar2.jpg">
          </div>
          <div class="col-4">
            <img src="avatar3.jpg" class="avatar-img" data-avatar="avatar3.jpg">
          </div>
          <div class="row">
          <div class="col-4">
            <img src="avatar4.jpg" class="avatar-img" data-avatar="avatar4.jpg">
          </div>
          <div class="col-4">
            <img src="avatar5.jpg" class="avatar-img" data-avatar="avatar5.jpg">
          </div>
          <div class="col-4">
            <img src="avatar6.jpg" class="avatar-img" data-avatar="avatar6.jpg">
          </div>
            <div class="row">
          <div class="col-4">
            <img src="avatar7.jpg" class="avatar-img" data-avatar="avatar7.jpg">
          </div>
          <div class="col-4">
            <img src="avatar8.jpg" class="avatar-img" data-avatar="avatar8.jpg">
          </div>
          <div class="col-4">
            <img src="avatar9.jpg" class="avatar-img" data-avatar="avatar9.jpg">
          </div>
        </div>
        <!-- Répéter les colonnes ci-dessus pour chaque avatar proposé -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
        <button type="button" class="btn btn-primary" id="select-avatar">Valider</button>
      </div>
    </div>
  </div>
</div>

