{% extends "model.html" %}

{% block heading %}
    <div class="heading_chapitre">
    <h1 class="titre_class">{{chapitre.chapitre}}</h1>
    <h2 class="titre_class">{{chapitre.classe}}</h2>
    </div>
{% endblock %}

    {% block subchapters %}
    <div>
        <h3>Les différents points abordés dans ce chapitre</h3>
        <ul class="list-group d-flex flex-row flex-wrap">
            {% for point in chapitre.points %}
            <li class="list-group-item">
            <a href="#section_{{ point }}" class="li_subchapters">{{ point }}</a>
            </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}

{% block exercises %}
<div id="tableau_exercices_section">
    <h3 class="titre_exercice">Exercices</h3>
    <table class="table_exercice">
    {% for i in range(0, chapitre['exercices']|length, 8) %}
        <tr class="tr_exercice">
        {% for j in range(i, i+8) %}
        {% if j < chapitre['exercices']|length %}

          {% set exercices_fait = chapitre['exercices'][j] in exercice_fait %}

          <td class="td_exercice"><a href="{{ url_for('exercice', classe=chapitre.classe, titre_exercice=chapitre['exercices'][j]) }}" class="{% if exercices_fait %}fait{% endif %}">{{ chapitre['exercices'][j] }}</a></td>
        {% else %}
          <td></td>
        {% endif %}
        {% endfor %}
        </tr>
    {% endfor %}
    </table>
</div>
{% endblock %}

{% block content %}

    {% for point in souschapitre %}
    <section id="section_{{point.nom}}" class="section_chapitre">
        <h2 class="section_chapitre_titre">{{point.nom}}</h2>
        <h4 class="section_chapitre_theorie">Théorie</h4>
        <p class="section_chapitre_body">{{point.body|safe}}</p>
        <h4 class="section_chapitre_exemple">Exemple</h4>
        <p class="exemple_chapitre_body">{{point.exemple|safe}}</p>
        {% if 'body2' in point %}
        <br>
        <h4 class="section_chapitre_theorie">Théorie 2</h4>
        <p class="section_chapitre_body">{{point.body2|safe}}</p>
        {% endif %}
        {% if 'exemple2' in point %}
        <h4 class="section_chapitre_exemple">Exemple 2</h4>
        <p class="exemple_chapitre_body">{{point.exemple2|safe}}</p>
        {% endif %}
        {% if 'body3' in point %}
        <br>
         <h4 class="section_chapitre_theorie">Théorie 3</h4>
        <p class="section_chapitre_body">{{point.body3|safe}}</p>
        {% endif %}
        {% if 'exemple3' in point %}
        <h4 class="section_chapitre_exemple">Exemple 3</h4>
        <p class="exemple_chapitre_body">{{point.exemple3|safe}}</p>
        {% endif %}
        {% if 'body4' in point %}
        <br>
         <h4 class="section_chapitre_theorie">Théorie 4</h4>
        <p class="section_chapitre_body">{{point.body4|safe}}</p>
        {% endif %}
        {% if 'exemple4' in point %}
        <h4 class="section_chapitre_exemple">Exemple 4</h4>
        <p class="exemple_chapitre_body">{{point.exemple4|safe}}</p>
        {% endif %}
        {% include 'exercice_theorie.html' %}
    </section>
    {% endfor %}

{% endblock %}


