<div class="container">
    {% if point.type == "question" %}
    <h3 class="my-4">Exercice interactif de math</h3>
    <div class="row exercice-interactif" data-questions="{{point.questions}}" data-name="{{point.name}}" data-score="0" data-exercice-courant="0" data-type="{{point.type}}">
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body" >
                    <div class="question-text"></div>
                </div>
                <div class="formattage_user">
                    {% for message in point.message_aide %}
                        <p> {{message}}</p>
                    {% endfor %}
                </div>

            </div>
        </div>
        <div class="col-12 col-lg-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="answer-input">Solution</label>
                        <input type="text" id="answer-input" class="form-control answer-input" placeholder="Entrez votre réponse">
                        <div class="feedback-text"></div>
                    </div>
                    <button class="btn btn-primary mt-2 valider" type="submit" name="action">Valider</button>
                    {% for exercise in badge_user %}
                        {% if exercise.exercise_name == point.name %}
                        <div>
                        {% if exercise.is_completed %}
                             <img src=static/images/{{point.badge}} class="badge_image">
                        {% else %}
                             <img src=static/images/{{point.badge}} class="badge_image grayscale">
                        {% endif %}
                        </div>
                    {% endif %}
                    {% endfor %}
                    <div class="score-text"></div>
                    <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
    {% if point.type == 'qcm' %}
    <h3 class="my-4">Exercice interactif de math</h3>
    <div class="row exercice-interactif" data-questions="{{point.questions}}" data-name="{{point.name}}" data-score="0" data-exercice-courant="0" data-type="{{point.type}}">
        <div class="col-12 col-lg-12">
            <div class="card">
                <div class="card-body">
                    <!-- Bloc pour le QCM -->
                     <div class="question-text"></div>
                    <form class="quizForm">
                         <div class="form-group btn-group-toggle d-flex justify-content-around" data-toggle="buttons">
                            <label class="btn btn-primary qcm-option" for="qcm-option-1">
                                <input type="radio" name="qcm-options" id="qcm-option-1" autocomplete="off" class="qcm-radios">
                                <span class="label-text"></span>
                            </label>
                            <label class="btn btn-primary qcm-option" for="qcm-option-2">
                                <input type="radio" name="qcm-options" id="qcm-option-2" autocomplete="off" class="qcm-radios">
                                <span class="label-text"></span>
                            </label>
                            <label class="btn btn-primary qcm-option" for="qcm-option-3">
                                <input type="radio" name="qcm-options" id="qcm-option-3" autocomplete="off" class="qcm-radios">
                                <span class="label-text"></span>
                            </label>
                            <label class="btn btn-primary qcm-option" for="qcm-option-4">
                                <input type="radio" name="qcm-options" id="qcm-option-4" autocomplete="off" class="qcm-radios">
                                <span class="label-text"></span>
                            </label>
                            <div class="feedback-text"></div>
                        </div>
                        <div class="d-flex justify-content-center">
                            <button class="btn btn-primary mt-2 valider" type="submit" name="action">Valider</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="score-text"></div>
            <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-info" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            {% for exercise in badge_user %}
                {% if exercise.exercise_name == point.name %}
                <div>
                {% if exercise.is_completed %}
                     <img src=static/images/{{point.badge}} class="badge_image">
                {% else %}
                     <img src=static/images/{{point.badge}} class="badge_image grayscale">
                {% endif %}
                </div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
    {% endif %}
</div>



