<div class="container">
    <h3 class="my-4">Exercice interactif de math</h3>
    <div class="row exercice-interactif" data-questions="{{point.questions}}" data-score="0" data-exercice-courant="0">
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body" >
                    <div class="question-text"></div>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <div class="card">
                <div class="card-body">
                    <div class="form-group">
                        <label for="answer-input">Solution</label>
                        <input type="text" id="answer-input" class="form-control answer-input" placeholder="Entrez votre réponse">
                        <div class="feedback-text"></div>
                    </div>
                    <button class="btn btn-primary mt-2 valider" type="submit" name="action">Valider</button>
                    <div class="score-text"></div>
                    <div class="progress">
                    <div class="progress-bar progress-bar-striped bg-success" role="progressbar" style="width: 0%;" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



