<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/dashboard">Mathematicus</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="9VG1Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            9VG1
          </a>
          <div class="dropdown-menu _9VG1menu" aria-labelledby="9VG1Dropdown">
            <a class="dropdown-item" href="#">NO Nombres naturels et décimaux</a>
            <a class="dropdown-item" href="#">ES Figures géométriques planes</a>
            <a class="dropdown-item" href="#">NO Nombres relatifs</a>
            <a class="dropdown-item" href="#">ES Transformations géométriques</a>
            <a class="dropdown-item" href="#">GM Lignes et surfaces</a>
            <a class="dropdown-item" href="#">NO Nombres rationnels</a>
            <a class="dropdown-item" href="#">FA Fonctions et diagrammes</a>
            <a class="dropdown-item" href="#">ES Représentations de solides</a>
            <a class="dropdown-item" href="#">GM Solides et diverses mesures</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="9VG2Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            9VG2
          </a>
          <div class="dropdown-menu _9VG2menu" aria-labelledby="9VG2Dropdown">
            <a class="dropdown-item" href="#">NO Nombres naturels et décimaux</a>
            <a class="dropdown-item" href="#">ES Figures géométriques planes</a>
            <a class="dropdown-item" href="#">NO Nombres relatifs</a>
            <a class="dropdown-item" href="#">ES Transformations géométriques</a>
            <a class="dropdown-item" href="#">GM Lignes et surfaces</a>
            <a class="dropdown-item" href="#">NO Nombres rationnels</a>
            <a class="dropdown-item" href="#">FA Fonctions et diagrammes</a>
            <a class="dropdown-item" href="#">ES Représentations de solides</a>
            <a class="dropdown-item" href="#">GM Solides et diverses mesures</a>
            <a class="dropdown-item" href="#">FA Calcul littéral</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="9VPDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            9VP
          </a>
          <div class="dropdown-menu _9VPmenu" aria-labelledby="9VPDropdown">
            <a class="dropdown-item" href="#">NO Nombres naturels et décimaux</a>
            <a class="dropdown-item" href="#">ES Figures géométriques planes</a>
            <a class="dropdown-item" href="#">NO Nombres relatifs</a>
            <a class="dropdown-item" href="#">ES Transformations géométriques</a>
            <a class="dropdown-item" href="#">GM Lignes et surfaces</a>
            <a class="dropdown-item" href="#">NO Nombres rationnels</a>
            <a class="dropdown-item" href="#">FA Fonctions et diagrammes</a>
            <a class="dropdown-item" href="#">ES Représentations de solides</a>
            <a class="dropdown-item" href="#">GM Solides et diverses mesures</a>
            <a class="dropdown-item" href="#">FA Calcul littéral</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="10VG1Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            10VG1
          </a>
          <div class="dropdown-menu _10VG1menu" aria-labelledby="10VG1Dropdown">
            <a class="dropdown-item" href="#">NO Nombres décimaux et relatifs</a>
            <a class="dropdown-item" href="#">FA fonctions et diagramme (proportionnalité)</a>
            <a class="dropdown-item" href="#">NO Nombres réels</a>
            <a class="dropdown-item" href="#">ES Figures géométriques planes</a>
            <a class="dropdown-item" href="#">GM Lignes, surfaces et Pythagore</a>
            <a class="dropdown-item" href="#">FA Fonctions et diagrammes (fonctions)</a>
            <a class="dropdown-item" href="#">ES Représentations de solides</a>
            <a class="dropdown-item" href="#">GM Solides et diverses mesures</a>
            <a class="dropdown-item" href="#">FA Calcul littéral</a>
            <a class="dropdown-item" href="#">ES Transformations géométriques</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="10VG2Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            10VG2
          </a>
          <div class="dropdown-menu _10VG2menu" aria-labelledby="10VG2Dropdown">
            <a class="dropdown-item" href="#">NO Nombres décimaux et relatifs</a>
            <a class="dropdown-item" href="#">FA fonctions et diagramme (proportionnalité)</a>
            <a class="dropdown-item" href="#">NO Nombres réels</a>
            <a class="dropdown-item" href="#">ES Figures géométriques planes</a>
            <a class="dropdown-item" href="#">GM Lignes, surfaces et Pythagore</a>
            <a class="dropdown-item" href="#">FA Fonctions et diagrammes (fonctions)</a>
            <a class="dropdown-item" href="#">FA Calcul littéral</a>
            <a class="dropdown-item" href="#">ES Représentations de solides</a>
            <a class="dropdown-item" href="#">GM Solides et diverses mesures</a>
            <a class="dropdown-item" href="#">FA Equations</a>
            <a class="dropdown-item" href="#">ES Transformations géométriques</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="10VPDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            10VP
          </a>
          <div class="dropdown-menu _10VPmenu" aria-labelledby="10VPDropdown">
            <a class="dropdown-item" href="#">NO Nombres décimaux et relatifs</a>
            <a class="dropdown-item" href="#">GM Lignes, surfaces et Pythagore</a>
            <a class="dropdown-item" href="#">NO Nombres réels</a>
            <a class="dropdown-item" href="#">ES Représentations de solides</a>
            <a class="dropdown-item" href="#">GM Solides et diverses mesures</a>
            <a class="dropdown-item" href="#">FA Calcul littéral</a>
            <a class="dropdown-item" href="#">FA Fonctions et diagrammes</a>
            <a class="dropdown-item" href="#">GM Trigonométrie</a>
            <a class="dropdown-item" href="#">FA Equations</a>
            <a class="dropdown-item" href="#">FA Calcul littéral</a>
            <a class="dropdown-item" href="#">ES Figures géométriques planes</a>
            <a class="dropdown-item" href="#">ES Transformations géométriques</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="11VG1Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            11VG1
          </a>
          <div class="dropdown-menu _11VG1menu" aria-labelledby="11VG1Dropdown">
            <a class="dropdown-item" href="#">NO Nombres réels</a>
            <a class="dropdown-item" href="#">GM Trigonométrie</a>
            <a class="dropdown-item" href="#">FA Calcul littéral</a>
            <a class="dropdown-item" href="#">ES Figures géométriques planes</a>
            <a class="dropdown-item" href="#">NO Situations aléatoires</a>
            <a class="dropdown-item" href="#">ES Transformations géométriques</a>
            <a class="dropdown-item" href="#">FA Fonctions et diagrammes</a>
            <a class="dropdown-item" href="#">GM Lignes, surfaces et théorèmes</a>
            <a class="dropdown-item" href="#">FA Equations</a>
            <a class="dropdown-item" href="#">ES Représentations de solides</a>
            <a class="dropdown-item" href="#">GM Solides et diverses mesures</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="11VG2Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            11VG2
          </a>
          <div class="dropdown-menu _11VG2menu" aria-labelledby="11VG2Dropdown">
            <a class="dropdown-item" href="#">NO Nombres réels</a>
            <a class="dropdown-item" href="#">GM Trigonométrie</a>
            <a class="dropdown-item" href="/chapitre?nom_chapitre=11VGcalcullitteral">FA Calcul littéral</a>
            <a class="dropdown-item" href="#">ES Figures géométriques planes</a>
            <a class="dropdown-item" href="#">NO Situations aléatoires</a>
            <a class="dropdown-item" href="#">ES Transformations géométriques</a>
            <a class="dropdown-item" href="/chapitre?nom_chapitre=11VGfonctions">FA Fonctions et diagrammes</a>
            <a class="dropdown-item" href="#">GM Lignes, surfaces et théorèmes</a>
            <a class="dropdown-item" href="/chapitre?nom_chapitre=11VGequations">FA Equations</a>
            <a class="dropdown-item" href="#">ES Représentations de solides</a>
            <a class="dropdown-item" href="#">GM Solides et diverses mesures</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="11VPDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            11VP
          </a>
          <div class="dropdown-menu _11VPmenu" aria-labelledby="11VPDropdown">
            <a class="dropdown-item" href="#">NO Nombres réels</a>
            <a class="dropdown-item" href="/chapitre?nom_chapitre=11VPcalcullitteral">FA Calcul littéral, équation</a>
            <a class="dropdown-item" href="#">ES Figures géométriques planes</a>
            <a class="dropdown-item" href="#">ES Transformations géométriques</a>
            <a class="dropdown-item" href="#">NO Situations aléatoires</a>
            <a class="dropdown-item" href="#">FA Fonctions et diagrammes</a>
            <a class="dropdown-item" href="#">GM Lignes, surfaces et théorèmes, trigonométrie</a>
            <a class="dropdown-item" href="/chapitre?nom_chapitre=11VPsystemes">FA Systèmes d'équations, fonctions</a>
            <a class="dropdown-item" href="#">ES Représentations de solides</a>
            <a class="dropdown-item" href="#">GM Solides et diverses mesures</a>
          </div>
        </li>
        <!-- Ajoutez ici les 8 autres items -->
      </ul>

      <div class="user-menu">
        <a href="#" class="user-link">
       <img src="{{ url_for('static', filename='images/' + user.avatar) }}" alt="User Image" class="user-image">
       {{ user.username }}
        <i class="fas fa-chevron-down"></i>
        </a>
        <span class="points-nav" id="points_utilisateurs_nav">{{user.points}} points</span>

      <div class="user-dropdown">
        <a href="/compte">Mon compte</a>
        <a href="#">Se déconnecter</a>
      </div>
    </div>
    </div>
  </nav>
